<h1 style="margin-bottom: 20px;"><span><%= current_user.group.key %></span> のメンバー</h1>
<ul class="user-list">
  <% @users.each do |user| %>
    <li><span>・<%= user.name %>さん</span><%= link_to "カレンダーを見る", user_path(user.id), method: :get %></li>
  <% end %>
</ul>

<h1 style="margin-top: 50px;"><span><%= current_user.group.key %></span> の共通カレンダー</h1>

<p class="add-event"><%= link_to "グループの予定を追加する", common_events_new_path, method: :get, class:"btn btn-default" %></p>

<div id="calendar"></div>

<script>

  $(document).ready(function() {
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      events: '/users.json',
      ignoreTimezone: false,
      eventLimit: true,
      timeFormat: 'H(:mm)',
      buttonText: {
          today:    '今日',
          month:    '月',
          week:     '週',
          day:      '日'
      },
      monthNames: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
      monthNamesShort: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
      dayNames: ['日曜日', '月曜日', '火曜日', '水曜日', '木曜日', '金曜日', '土曜日'],
      dayNamesShort: ['日', '月', '火', '水', '木', '金', '土']
    });
  });

</script>
