<h1 style="margin-bottom: 20px;"><span><%= current_user.group.key %></span> のメンバー</h1>
<ul class="user-list">
  <% @users.each do |user| %>
    <li><span>・<%= user.name %>さん</span><%= link_to "カレンダーを見る", user_path(user.id), method: :get %></li>
  <% end %>
</ul>

<h1 style="margin-top: 50px;"><span><%= current_user.group.key %></span> の共通カレンダー</h1>

<p><%= link_to "共通の予定を追加する", common_events_new_path, method: :get %></p>

<div id="calendar"></div>

<script>
$('#calendar').fullCalendar({
  header: {
    left: 'prev,next today',
    center: 'title',
    right: 'month,agendaWeek,agendaDay'
  },
  events: '/users.json',
  ignoreTimezone: false,
  eventLimit: true,
});
</script>
