<h1 class="event-form-title">グループの予定を追加する</h1>

<%= form_tag("/common_events", method: :post) do %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= label :event, :タイトル %><br>
    <%= text_field :event, :title, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= label :event, :開始日時 %><br>
    <%= datetime_select :event, :start, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= label :event, :終了日時 %><br>
    <%= datetime_select :event, :end, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= label :event, :終日 %><br>
    <%= check_box :event, :allDay %>
  </div>
  <div class="actions form-group">
    <%= submit_tag "予定を保存する", class:"btn btn-default" %>
  </div>
<% end %>

<%= link_to 'グループページに戻る', users_path, method: :get %>
