<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>

<p>
  <strong>Allday:</strong>
  <%= @event.allDay %>
</p>

<% if @event.common == true %>
  <%= link_to 'Edit', "/common_events/#{@event.id}/edit" %> |
<% else %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
