<!DOCTYPE html>
<html>
<head>
  <title>CalendarApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <% if user_signed_in? %>
      <div class="navbar-header">
        <%= link_to "CalendarApp", user_path(current_user.id), class: "navbar-brand" %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "マイページ", user_path(current_user.id) %></li>
        <li><%= link_to "メンバーリスト", user_path(current_user.id) %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      </ul>
    <% end %>
  </div>
</nav>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
